[flake8]
max-line-length = 120
ignore =
    E225,
    E226,
    E231,
    E265,
    E301,
    E302,
    E303,
    E305,
    E306,
    E701,
    E704,
    W291,
    W391
exclude =
    .git,
    jiant,
    tests,
    tests-meta
